body {
    background: #000;
    font-family: 'Inter', sans-serif;
}

header {
    height: 10vh;
}

main {
    height: 85vh;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.caveira {
    display: flex;
    justify-content: center;
    height: 10vh;
    transition: .5s;
}

.filmes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5vh;
}

.title-filmes {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    font-size: 2vh;
    color: #fff;
}

@media (max-width: 640px) {
    .caveira {
        padding-top: 1vh;
    }
    .filmes {
        display: grid;
        flex-direction: column;
    }

    footer {
        height: 225vh;
        display: flex;
        align-items: flex-end;
        font-size: 1.6vh;
    }
}