.vinganca-de-salazar {
    height: 50vh;
    transition: .5s;
}

.vinganca-de-salazar:hover {
    height: 55vh;
}

@media (max-width: 640px) {
    .vinganca-de-salazar {
        margin-top: 5vh;
    }
}